<div class="container">
    <div class="text-center">
        <label>FAQ</label>
    <h1 class="">Foire Aux Questions</h1>
    </div>
    <div class="content same__space d-flex p-5">
        <div class="d-flex flex-column mb-3">
            <div class="">
                <h5 class="card-title">Et si l'article reçu est défectueux ?
                </h5>
                <p class="card-text text-break text__width">En cas de défaut de l'article, vous nous envoyez simplement par mail les photos. En moins de 24h un livreur viendra reprendre l'article chez vous pour le rendre à la vendeuse et vous serez remboursée de la totalité des dépenses engagées<p>
            </div>
            <div class="">
                <h5 class="card-title">Quelles sont les méthodes de paiement acceptées ?
                </h5>
                <p class="card-text text-break text__width">Vous pouvez payer en cash, par carte de crédit, par carte e-dinar ou via les bornes Runpay disponibles partout en Tunisie.<p>
            </div>
        </div>
        <div class="d-flex flex-column mb-3">
            <div class="">
                <h5 class="card-title">Dois-je me déplacer à la Poste pour vendre ou acheter ?
                </h5>
                <p class="card-text text-break text__width">Non, un livreur se déplacera jusqu'à votre porte pour récupérer ou vous livrer un article. La livraison et la collecte d'article se fait sur tout le territoire Tunisien sans exception.<p>
            </div>
            <div class="">
                <h5 class="card-title">Mes informations privées sont-elles protégées ?
                </h5>
                <p class="card-text text-break text__width">Vos informations privées (Numéro de tél, adresse, âge, numéro de compte, numéro de carte d'identité...) sont soigneusement gardées dans nos bases de données et ne sont divulguées ni vendus à aucune tierce partie, ni même aux autres utilisateurs.<p>
            </div>
        </div>
        <div></div>
    </div> 
</div> 
<hr>