<div class="col-md-10">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-4">
                <div class="wrapper">
          
                   <nav id="sidebar">
                      
                      <div class="title">
                          Shoppy 
                       </div>
          
                      <a href="admin/headers" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none mt-4" style="margin-left: 15px;">
                          <i class="fs-6 bi bi-house-gear-fill"></i><span class="fs-5 ms-2 d-none d-sm-inline"> Dashboard Admin </span>
                      </a>
          
                      <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                           
                          <li>
                              <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle mt-2" style="margin-left: 15px;">
                                  <i class="fs-6 bi bi-people-fill" style="color: #fb5c42;"></i> <span class="account ms-1 d-none d-sm-inline"> Accounts Management </span> </a>
                              <ul class="collapse  nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                  <li class="w-100">
                                      <a href="displayuser" class="nav-link px-0" style="margin-top: 10px;"> <span class="d-none d-sm-inline" style="color: #ffffff; margin-left: 35px;"> Display </span> </a>
                                  </li>
                                  <li>
                                      <a href="adduser" class="nav-link px-0" style="margin-top: 10px;"> <span class="d-none d-sm-inline" style="color: #ffffff; margin-left: 35px;"> Add User </span> </a>
                                  </li>
                              </ul>
                          </li>
                          
                          <li>
                              <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle mt-2" style="margin-left: 15px;">
                                  <i class="fs-6 bi bi-bag-fill" style="color: #fb5c42;"></i> <span class="product ms-1 d-none d-sm-inline"> Products Management </span></a>
                              <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                  <li class="w-100">
                                      <a href="displayproduct" class="nav-link px-0" style="margin-top: 10px;"> <span class="d-none d-sm-inline" style="color: #ffffff; margin-left: 35px;"> Display </span> </a>
                                  </li>
                                  <li>
                                      <a href="addproduct" class="nav-link px-0" style="margin-top: 10px;"> <span class="d-none d-sm-inline" style="color: #ffffff; margin-left: 35px;"> Add Product </span> </a>
                                  </li>
                              </ul>
                          </li>
                          <li>
                              <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle mt-2" style="margin-left: 15px;">
                                  <i class="fs-6 bi-grid" style="color: #fb5c42;"></i> <span class="category ms-1 d-none d-sm-inline"> Categories Management </span> </a>
                                  <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                  <li class="w-100">
                                      <a href="admin/displaycategories" class="nav-link px-0" style="margin-top: 10px;"> <span class="d-none d-sm-inline" style="color: #ffffff; margin-left: 35px;"> Display </span> </a>
                                  </li>
                                  <li>
                                      <a href="admin/addcategories" class="nav-link px-0" style="margin-top: 10px;"> <span class="d-none d-sm-inline" style="color: #ffffff; margin-left: 35px;"> Add Category </span> </a>
                                  </li>
                              </ul>
                          </li>
                          <li>
                            <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle mt-2" style="margin-left: 15px;">
                                <i class="fs-6 bi bi-app-indicator" style="color: #fb5c42;"></i> <span class="category ms-1 d-none d-sm-inline"> SubCategories Management </span> </a>
                                <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="admin/displaysubcategories" class="nav-link px-0" style="margin-top: 10px;"> <span class="d-none d-sm-inline" style="color: #ffffff; margin-left: 35px;"> Display </span> </a>
                                </li>
                                <li>
                                    <a href="admin/addsubcategories" class="nav-link px-0" style="margin-top: 10px;"> <span class="d-none d-sm-inline" style="color: #ffffff; margin-left: 35px;"> Add Category </span> </a>
                                </li>
                            </ul>
                        </li>
                          <li>
                            <a href="#submenu5" data-bs-toggle="collapse" class="nav-link px-0 align-middle mt-2" style="margin-left: 15px;">
                                <i class="fs-6 bi bi-cart-fill" style="color: #fb5c42;"></i> <span class="order ms-1 d-none d-sm-inline"> Orders Management </span> </a>
                                <ul class="collapse nav flex-column ms-1" id="submenu5" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="orders-management" class="nav-link px-0" style="margin-top: 10px;"> <span class="d-none d-sm-inline" style="color: #ffffff; margin-left: 35px;"> Display </span> </a>
                                </li>
                            </ul>
                        </li>
          
                        <a href="admin/headers" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none mt-4" style="margin-left: 15px;">
                          <i class="fs-6 bi bi-gear-fill"></i><span class="fs-5 ms-2 d-none d-sm-inline"> Settings </span>
                        </a>
          
                        <a href="myprofile" class="nav-link px-0 align-middle" style="margin-left: 15px;">
                          <i class="fs-6 bi bi-person-lines-fill" style="color: #fb5c42;"></i><span class="ms-1 d-none d-sm-inline" style="color: #fb5c42;"> Personal Informations </span>
                        </a>
          
                        <a href="" class="nav-link px-0 align-middle mt-1" style="margin-left: 15px;">
                          <i class="fs-6 bi bi-box-arrow-right" style="color: #fb5c42;"></i><span class="ms-1 d-none d-sm-inline" style="color: #fb5c42;"> Log Out </span>
                        </a>
          
                      </ul>
                      
                   </nav>
                   </div>
                
          
          </div> 
        
<div class="col-md-10">
    <div style="display: flex;justify-content: center; border-color: black; margin-top: 40px;">
      <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h5 style="text-align: center;" class="card-title fs-4 mt-4">Add Product</h5>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label" style="margin-left: 20px;">Title</label>
              <input formControlName="title" type="text" style="margin-left: 20px; width: 750px;" class="form-control rounded mt-2" id="exampleFormControlInput1" placeholder="Product Title">
              <!-- title.email && title.invalid && title.touched -->
             </div>
            <div class="mb-3">
              <label style="margin-left: 20px;">Description</label>
              <input formControlName="description" type="text" style="margin-left: 20px; width: 750px;" class="form-control rounded mt-2"  placeholder="Description">
              <div *ngIf="control.controls['description'].invalid && control.controls['description'].touched">
                <div class="alert alert-danger" *ngIf="control.controls['description'].errors['required'] ">
                   description is required.
                </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput3" class="form-label" style="margin-left: 20px;">Category</label>
                <select class="form-select mt-2" aria-label="Default select example" style="margin-left: 20px; width: 750px;">
                 <option class="mystyle">Select Category</option>
                 <option class="mystyle" value="1">Women</option>
                 <option class="mystyle" value="2">Men</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput4" class="form-label" style="margin-left: 20px;">SubCategory</label>
                <select class="form-select mt-2" aria-label="Default select example" style="margin-left: 20px; width: 750px;">
                 <option class="mystyle">Select Category</option>
                 <option class="mystyle" value="1">Shirts</option>
                 <option class="mystyle" value="2">Sweaters</option>
                 <option class="mystyle" value="3">Trousers</option>
                 <option class="mystyle" value="4">Coats</option>
                 <option class="mystyle" value="5">Accessories</option>
                </select>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput5" class="form-label rounded" style="margin-left: 20px;">Price</label>
              <input formControlName="prix" type="text" style="margin-left: 20px; width: 750px;" class="form-control rounded" id="exampleFormControlInput1" placeholder="Price">
            
            </div>

            <div class="text-center">
            <button  style="display: center; background-color: #fb5c42; color: #ffffff; border-radius: 8px ;" type="submit" class="btn rounded">Add Product</button>
            </div>
            <br>
  
          </div>
        </div>
    </div>
</div>
</div>
</div> 
</div>